body {
	font-family: Verdana, sans-serif;
	width: 90%;
	min-width: 300px;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	font-size: 24px;
	font-weight: bold;
	color: white;
	margin-top: 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: darkred;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	color: darkred;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

button {
		font-size: 14pt;
		margin-bottom: 10px;
		margin-top: 10px;
		display: inline;
}

input {
		font-size: 14pt;
		margin-bottom: 10px;
		margin-left: 10px;
}

section {
	border-bottom-style: solid;
	border-color: black;
	border-width: thick;
}
